@font-face{font-family:cs-areeka-o-karak-ff1;src:url('/case-study-assets/areeka-o-karak/font-1.woff')format("woff");}
@font-face{font-family:cs-areeka-o-karak-ff2;src:url('/case-study-assets/areeka-o-karak/font-2.woff')format("woff");}
.cs-areeka-o-karak .pf{position:relative;overflow:hidden;margin:0;border:0}
.cs-areeka-o-karak .pc{position:absolute;border:0;padding:0;margin:0;top:0;left:0;width:100%;height:100%;overflow:hidden;display:block;transform-origin:0 0}
.cs-areeka-o-karak .bs{position:absolute;left:0;width:100%;background-repeat:no-repeat;background-size:100% 100%;user-select:none;-webkit-user-select:none;pointer-events:none}
.cs-areeka-o-karak .t{position:absolute;white-space:pre;font-size:0.03405cqw;transform-origin:0 100%;unicode-bidi:bidi-override}
.cs-areeka-o-karak .t:after{content:''}
.cs-areeka-o-karak .t:before{content:'';display:inline-block}
.cs-areeka-o-karak .t span{position:relative;unicode-bidi:bidi-override}
.cs-areeka-o-karak ._{display:inline-block;color:transparent;z-index:-1}
.cs-areeka-o-karak h2,.cs-areeka-o-karak p{display:contents;margin:0;padding:0;font:inherit}
.cs-areeka-o-karak p.cs-extra{display:block;position:absolute;text-align:center;font-weight:500}
.cs-areeka-o-karak .ff0{font-family:sans-serif;visibility:hidden;}
.cs-areeka-o-karak .ff1{font-family:cs-areeka-o-karak-ff1;line-height:0.904000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-areeka-o-karak .ff2{font-family:cs-areeka-o-karak-ff2;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-areeka-o-karak .m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.cs-areeka-o-karak .v0{vertical-align:0cqw;}
.cs-areeka-o-karak .ls0{letter-spacing:0cqw;}
.cs-areeka-o-karak .sc_{text-shadow:none;}
.cs-areeka-o-karak .sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){.cs-areeka-o-karak .sc_{-webkit-text-stroke:0cqw transparent;}
.cs-areeka-o-karak .sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}}
.cs-areeka-o-karak .ws0{word-spacing:0cqw;}
.cs-areeka-o-karak ._8{margin-left:-1.02647cqw;}
.cs-areeka-o-karak ._a{margin-left:-0.51323cqw;}
.cs-areeka-o-karak ._c{margin-left:-0.47476cqw;}
.cs-areeka-o-karak ._9{margin-left:-0.4362cqw;}
.cs-areeka-o-karak ._b{margin-left:-0.39045cqw;}
.cs-areeka-o-karak ._6{margin-left:-0.35494cqw;}
.cs-areeka-o-karak ._5{margin-left:-0.3055cqw;}
.cs-areeka-o-karak ._2{margin-left:-0.26074cqw;}
.cs-areeka-o-karak ._0{margin-left:-0.21867cqw;}
.cs-areeka-o-karak ._4{margin-left:-0.16135cqw;}
.cs-areeka-o-karak ._3{margin-left:-0.11788cqw;}
.cs-areeka-o-karak ._1{margin-left:-0.05262cqw;}
.cs-areeka-o-karak ._7{width:0.05178cqw;}
.cs-areeka-o-karak .fc1{color:rgb(173,71,40);}
.cs-areeka-o-karak .fc0{color:rgb(0,0,0);}
.cs-areeka-o-karak .fs0{font-size:4.08645cqw;}
.cs-areeka-o-karak .fs1{font-size:12.83105cqw;}
.cs-areeka-o-karak .y0{bottom:0cqw;}
.cs-areeka-o-karak .y14{bottom:36.94532cqw;}
.cs-areeka-o-karak .y13{bottom:38.77399cqw;}
.cs-areeka-o-karak .y12{bottom:40.60267cqw;}
.cs-areeka-o-karak .y11{bottom:42.43135cqw;}
.cs-areeka-o-karak .y17{bottom:46.59684cqw;}
.cs-areeka-o-karak .y10{bottom:84.007cqw;}
.cs-areeka-o-karak .yf{bottom:85.83569cqw;}
.cs-areeka-o-karak .ye{bottom:87.66437cqw;}
.cs-areeka-o-karak .yd{bottom:89.49303cqw;}
.cs-areeka-o-karak .yc{bottom:91.3217cqw;}
.cs-areeka-o-karak .y16{bottom:95.15691cqw;}
.cs-areeka-o-karak .yb{bottom:142.16555cqw;}
.cs-areeka-o-karak .ya{bottom:143.99423cqw;}
.cs-areeka-o-karak .y9{bottom:145.82291cqw;}
.cs-areeka-o-karak .y8{bottom:147.65158cqw;}
.cs-areeka-o-karak .y7{bottom:149.48026cqw;}
.cs-areeka-o-karak .y6{bottom:151.30894cqw;}
.cs-areeka-o-karak .y5{bottom:153.13761cqw;}
.cs-areeka-o-karak .y18{bottom:156.50981cqw;}
.cs-areeka-o-karak .y4{bottom:194.96547cqw;}
.cs-areeka-o-karak .y3{bottom:196.79415cqw;}
.cs-areeka-o-karak .y2{bottom:198.62282cqw;}
.cs-areeka-o-karak .y1{bottom:200.45149cqw;}
.cs-areeka-o-karak .y15{bottom:204.09012cqw;}
.cs-areeka-o-karak .h1{height:2.9259cqw;}
.cs-areeka-o-karak .h2{height:8.8021cqw;}
.cs-areeka-o-karak .h0{height:297.09432cqw;}
.cs-areeka-o-karak .w1{width:99.98875cqw;}
.cs-areeka-o-karak .w0{width:100cqw;}
.cs-areeka-o-karak .x0{left:0cqw;}
.cs-areeka-o-karak .x1{left:6.64943cqw;}
.cs-areeka-o-karak .x6{left:7.50446cqw;}
.cs-areeka-o-karak .x3{left:7.5622cqw;}
.cs-areeka-o-karak .x2{left:8.68208cqw;}
.cs-areeka-o-karak .x5{left:9.53711cqw;}
.cs-areeka-o-karak .x4{left:9.59485cqw;}

.cs-areeka-o-karak .pf{background-color:#fffbf5}