@font-face{font-family:cs-bwld-ff1;src:url('/case-study-assets/bwld/font-1.woff')format("woff");}
@font-face{font-family:cs-bwld-ff2;src:url('/case-study-assets/bwld/font-2.woff')format("woff");}
.cs-bwld .pf{position:relative;overflow:hidden;margin:0;border:0}
.cs-bwld .pc{position:absolute;border:0;padding:0;margin:0;top:0;left:0;width:100%;height:100%;overflow:hidden;display:block;transform-origin:0 0}
.cs-bwld .bs{position:absolute;left:0;width:100%;background-repeat:no-repeat;background-size:100% 100%;user-select:none;-webkit-user-select:none;pointer-events:none}
.cs-bwld .t{position:absolute;white-space:pre;font-size:0.03008cqw;transform-origin:0 100%;unicode-bidi:bidi-override}
.cs-bwld .t:after{content:''}
.cs-bwld .t:before{content:'';display:inline-block}
.cs-bwld .t span{position:relative;unicode-bidi:bidi-override}
.cs-bwld ._{display:inline-block;color:transparent;z-index:-1}
.cs-bwld h2,.cs-bwld p{display:contents;margin:0;padding:0;font:inherit}
.cs-bwld p.cs-extra{display:block;position:absolute;text-align:center;font-weight:500}
.cs-bwld .ff0{font-family:sans-serif;visibility:hidden;}
.cs-bwld .ff1{font-family:cs-bwld-ff1;line-height:0.961000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-bwld .ff2{font-family:cs-bwld-ff2;line-height:0.904000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-bwld .m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.cs-bwld .v0{vertical-align:0cqw;}
.cs-bwld .ls0{letter-spacing:0cqw;}
.cs-bwld .sc_{text-shadow:none;}
.cs-bwld .sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){.cs-bwld .sc_{-webkit-text-stroke:0cqw transparent;}
.cs-bwld .sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}}
.cs-bwld .ws0{word-spacing:0cqw;}
.cs-bwld ._2{margin-left:-1.92354cqw;}
.cs-bwld ._0{margin-left:-0.90672cqw;}
.cs-bwld ._4{margin-left:-0.58919cqw;}
.cs-bwld ._1{margin-left:-0.38533cqw;}
.cs-bwld ._3{margin-left:-0.33999cqw;}
.cs-bwld ._c{margin-left:-0.28378cqw;}
.cs-bwld ._12{margin-left:-0.24251cqw;}
.cs-bwld ._8{margin-left:-0.19017cqw;}
.cs-bwld ._5{margin-left:-0.15817cqw;}
.cs-bwld ._b{margin-left:-0.10563cqw;}
.cs-bwld ._9{margin-left:-0.06513cqw;}
.cs-bwld ._7{margin-left:-0.03341cqw;}
.cs-bwld ._6{width:0.05407cqw;}
.cs-bwld ._11{width:0.14749cqw;}
.cs-bwld ._e{width:0.18908cqw;}
.cs-bwld ._f{width:0.23984cqw;}
.cs-bwld ._16{width:0.37908cqw;}
.cs-bwld ._15{width:0.41606cqw;}
.cs-bwld ._d{width:0.48744cqw;}
.cs-bwld ._a{width:0.5176cqw;}
.cs-bwld ._13{width:0.66651cqw;}
.cs-bwld ._14{width:0.69664cqw;}
.cs-bwld ._10{width:0.91566cqw;}
.cs-bwld .fc1{color:transparent;}
.cs-bwld .fc0{color:rgb(0,0,0);}
.cs-bwld .fs4{font-size:2.95638cqw;}
.cs-bwld .fs5{font-size:3.6096cqw;}
.cs-bwld .fs0{font-size:11.33379cqw;}
.cs-bwld .fs2{font-size:24.04379cqw;}
.cs-bwld .fs1{font-size:37.88036cqw;}
.cs-bwld .fs3{font-size:42.72444cqw;}
.cs-bwld .y0{bottom:0cqw;}
.cs-bwld .y1f{bottom:25.52976cqw;}
.cs-bwld .y1e{bottom:27.14504cqw;}
.cs-bwld .y1d{bottom:28.76032cqw;}
.cs-bwld .y1c{bottom:30.37561cqw;}
.cs-bwld .y1b{bottom:31.9909cqw;}
.cs-bwld .y1a{bottom:35.17808cqw;}
.cs-bwld .y19{bottom:74.23678cqw;}
.cs-bwld .y18{bottom:75.85206cqw;}
.cs-bwld .y17{bottom:77.46736cqw;}
.cs-bwld .y16{bottom:79.08265cqw;}
.cs-bwld .y6{bottom:82.36884cqw;}
.cs-bwld .y15{bottom:103.65543cqw;}
.cs-bwld .y14{bottom:105.27069cqw;}
.cs-bwld .y13{bottom:106.88596cqw;}
.cs-bwld .y12{bottom:108.50122cqw;}
.cs-bwld .y11{bottom:110.1165cqw;}
.cs-bwld .y5{bottom:113.21595cqw;}
.cs-bwld .y10{bottom:146.49545cqw;}
.cs-bwld .yf{bottom:148.11072cqw;}
.cs-bwld .ye{bottom:149.72602cqw;}
.cs-bwld .yd{bottom:151.34131cqw;}
.cs-bwld .yc{bottom:155.05225cqw;}
.cs-bwld .yb{bottom:178.28256cqw;}
.cs-bwld .ya{bottom:179.60554cqw;}
.cs-bwld .y9{bottom:180.92853cqw;}
.cs-bwld .y8{bottom:182.25152cqw;}
.cs-bwld .y7{bottom:183.5745cqw;}
.cs-bwld .y1{bottom:186.50096cqw;}
.cs-bwld .y4{bottom:192.04834cqw;}
.cs-bwld .y3{bottom:196.69979cqw;}
.cs-bwld .y2{bottom:203.40309cqw;}
.cs-bwld .h5{height:2.11677cqw;}
.cs-bwld .h6{height:2.58447cqw;}
.cs-bwld .h1{height:8.251cqw;}
.cs-bwld .h3{height:17.50388cqw;}
.cs-bwld .h2{height:27.5769cqw;}
.cs-bwld .h4{height:31.10339cqw;}
.cs-bwld .h0{height:219.86522cqw;}
.cs-bwld .w1{width:99.98982cqw;}
.cs-bwld .w0{width:100cqw;}
.cs-bwld .x0{left:0cqw;}
.cs-bwld .x6{left:8.98052cqw;}
.cs-bwld .xe{left:9.05602cqw;}
.cs-bwld .xf{left:9.26415cqw;}
.cs-bwld .x7{left:9.35322cqw;}
.cs-bwld .x1{left:9.41771cqw;}
.cs-bwld .xb{left:9.48968cqw;}
.cs-bwld .xa{left:10.00409cqw;}
.cs-bwld .xd{left:12.07851cqw;}
.cs-bwld .x9{left:12.47376cqw;}
.cs-bwld .xc{left:17.19391cqw;}
.cs-bwld .x8{left:23.81989cqw;}
.cs-bwld .x5{left:26.91189cqw;}
.cs-bwld .x2{left:47.23039cqw;}
.cs-bwld .x3{left:50.01875cqw;}
.cs-bwld .x4{left:62.3725cqw;}

.cs-bwld .pf{background-color:#ffffff}