@font-face{font-family:cs-bwld-ff1;src:url('/case-study-assets/bwld/asset-1.woff')format("woff");}
@font-face{font-family:cs-bwld-ff2;src:url('/case-study-assets/bwld/asset-2.woff')format("woff");}
.cs-bwld .pf{position:relative;background-color:#fff;overflow:hidden;margin:0;border:0}
.cs-bwld .pc{position:absolute;border:0;padding:0;margin:0;top:0;left:0;width:100%;height:100%;overflow:hidden;display:block;transform-origin:0 0}
.cs-bwld .bi{position:absolute;border:0;margin:0;user-select:none;-webkit-user-select:none}
.cs-bwld .t{position:absolute;white-space:pre;font-size:1px;transform-origin:0 100%;unicode-bidi:bidi-override}
.cs-bwld .t:after{content:''}
.cs-bwld .t:before{content:'';display:inline-block}
.cs-bwld .t span{position:relative;unicode-bidi:bidi-override}
.cs-bwld ._{display:inline-block;color:transparent;z-index:-1}
.cs-bwld .ff0{font-family:sans-serif;visibility:hidden;}
.cs-bwld .ff1{font-family:cs-bwld-ff1;line-height:0.961000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-bwld .ff2{font-family:cs-bwld-ff2;line-height:0.904000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-bwld .m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.cs-bwld .v0{vertical-align:0.000000px;}
.cs-bwld .ls0{letter-spacing:0.000000px;}
.cs-bwld .sc_{text-shadow:none;}
.cs-bwld .sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){.cs-bwld .sc_{-webkit-text-stroke:0px transparent;}
.cs-bwld .sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}}
.cs-bwld .ws0{word-spacing:0.000000px;}
.cs-bwld ._2{margin-left:-63.947568px;}
.cs-bwld ._0{margin-left:-30.143728px;}
.cs-bwld ._4{margin-left:-19.587456px;}
.cs-bwld ._1{margin-left:-12.810264px;}
.cs-bwld ._3{margin-left:-11.302724px;}
.cs-bwld ._c{margin-left:-9.434272px;}
.cs-bwld ._12{margin-left:-8.062000px;}
.cs-bwld ._8{margin-left:-6.322292px;}
.cs-bwld ._5{margin-left:-5.258220px;}
.cs-bwld ._b{margin-left:-3.511760px;}
.cs-bwld ._9{margin-left:-2.165256px;}
.cs-bwld ._7{margin-left:-1.110744px;}
.cs-bwld ._6{width:1.797508px;}
.cs-bwld ._11{width:4.903404px;}
.cs-bwld ._e{width:6.285744px;}
.cs-bwld ._f{width:7.973328px;}
.cs-bwld ._16{width:12.602288px;}
.cs-bwld ._15{width:13.831816px;}
.cs-bwld ._d{width:16.204748px;}
.cs-bwld ._a{width:17.207540px;}
.cs-bwld ._13{width:22.158000px;}
.cs-bwld ._14{width:23.159532px;}
.cs-bwld ._10{width:30.440960px;}
.cs-bwld .fc1{color:transparent;}
.cs-bwld .fc0{color:rgb(0,0,0);}
.cs-bwld .fs4{font-size:98.284000px;}
.cs-bwld .fs5{font-size:120.000000px;}
.cs-bwld .fs0{font-size:376.788000px;}
.cs-bwld .fs2{font-size:799.328000px;}
.cs-bwld .fs1{font-size:1259.320000px;}
.cs-bwld .fs3{font-size:1420.360000px;}
.cs-bwld .y0{bottom:0.000000px;}
.cs-bwld .y1f{bottom:848.728500px;}
.cs-bwld .y1e{bottom:902.427900px;}
.cs-bwld .y1d{bottom:956.127300px;}
.cs-bwld .y1c{bottom:1009.827150px;}
.cs-bwld .y1b{bottom:1063.527000px;}
.cs-bwld .y1a{bottom:1169.483850px;}
.cs-bwld .y19{bottom:2467.977600px;}
.cs-bwld .y18{bottom:2521.677000px;}
.cs-bwld .y17{bottom:2575.376850px;}
.cs-bwld .y16{bottom:2629.076700px;}
.cs-bwld .y6{bottom:2738.325000px;}
.cs-bwld .y15{bottom:3445.990800px;}
.cs-bwld .y14{bottom:3499.689750px;}
.cs-bwld .y13{bottom:3553.388700px;}
.cs-bwld .y12{bottom:3607.087650px;}
.cs-bwld .y11{bottom:3660.787050px;}
.cs-bwld .y5{bottom:3763.827150px;}
.cs-bwld .y10{bottom:4870.193100px;}
.cs-bwld .yf{bottom:4923.892500px;}
.cs-bwld .ye{bottom:4977.592350px;}
.cs-bwld .yd{bottom:5031.292200px;}
.cs-bwld .yc{bottom:5154.661350px;}
.cs-bwld .yb{bottom:5926.945350px;}
.cs-bwld .ya{bottom:5970.927300px;}
.cs-bwld .y9{bottom:6014.909700px;}
.cs-bwld .y8{bottom:6058.892100px;}
.cs-bwld .y7{bottom:6102.874050px;}
.cs-bwld .y1{bottom:6200.163450px;}
.cs-bwld .y4{bottom:6384.584100px;}
.cs-bwld .y3{bottom:6539.220000px;}
.cs-bwld .y2{bottom:6762.069150px;}
.cs-bwld .h5{height:70.371344px;}
.cs-bwld .h6{height:85.920000px;}
.cs-bwld .h1{height:274.301664px;}
.cs-bwld .h3{height:581.910784px;}
.cs-bwld .h2{height:916.784960px;}
.cs-bwld .h4{height:1034.022080px;}
.cs-bwld .h0{height:7309.347150px;}
.cs-bwld .w1{width:3324.128654px;}
.cs-bwld .w0{width:3324.467250px;}
.cs-bwld .x0{left:0.000000px;}
.cs-bwld .x6{left:298.554450px;}
.cs-bwld .xe{left:301.064400px;}
.cs-bwld .xf{left:307.983600px;}
.cs-bwld .x7{left:310.944600px;}
.cs-bwld .x1{left:313.088550px;}
.cs-bwld .xb{left:315.481200px;}
.cs-bwld .xa{left:332.582550px;}
.cs-bwld .xd{left:401.546100px;}
.cs-bwld .x9{left:414.685950px;}
.cs-bwld .xc{left:571.606050px;}
.cs-bwld .x8{left:791.884350px;}
.cs-bwld .x5{left:894.676950px;}
.cs-bwld .x2{left:1570.158750px;}
.cs-bwld .x3{left:1662.856800px;}
.cs-bwld .x4{left:2073.553500px;}
