@font-face{font-family:cs-mm-window-cleaning-ff1;src:url('/case-study-assets/mm-window-cleaning/font-1.woff')format("woff");}
@font-face{font-family:cs-mm-window-cleaning-ff2;src:url('/case-study-assets/mm-window-cleaning/font-2.woff')format("woff");}
@font-face{font-family:cs-mm-window-cleaning-ff3;src:url('/case-study-assets/mm-window-cleaning/font-3.woff')format("woff");}
.cs-mm-window-cleaning .pf{position:relative;overflow:hidden;margin:0;border:0}
.cs-mm-window-cleaning .pc{position:absolute;border:0;padding:0;margin:0;top:0;left:0;width:100%;height:100%;overflow:hidden;display:block;transform-origin:0 0}
.cs-mm-window-cleaning .bs{position:absolute;left:0;width:100%;background-repeat:no-repeat;background-size:100% 100%;user-select:none;-webkit-user-select:none;pointer-events:none}
.cs-mm-window-cleaning .t{position:absolute;white-space:pre;font-size:0.03008cqw;transform-origin:0 100%;unicode-bidi:bidi-override}
.cs-mm-window-cleaning .t:after{content:''}
.cs-mm-window-cleaning .t:before{content:'';display:inline-block}
.cs-mm-window-cleaning .t span{position:relative;unicode-bidi:bidi-override}
.cs-mm-window-cleaning ._{display:inline-block;color:transparent;z-index:-1}
.cs-mm-window-cleaning h2,.cs-mm-window-cleaning p{display:contents;margin:0;padding:0;font:inherit}
.cs-mm-window-cleaning p.cs-extra{display:block;position:absolute;text-align:center;font-weight:500}
.cs-mm-window-cleaning .ff0{font-family:sans-serif;visibility:hidden;}
.cs-mm-window-cleaning .ff1{font-family:cs-mm-window-cleaning-ff1;line-height:0.904000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-mm-window-cleaning .ff2{font-family:cs-mm-window-cleaning-ff2;line-height:0.961000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-mm-window-cleaning .ff3{font-family:cs-mm-window-cleaning-ff3;line-height:0.740000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-mm-window-cleaning .m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.cs-mm-window-cleaning .v0{vertical-align:0cqw;}
.cs-mm-window-cleaning .ls0{letter-spacing:0cqw;}
.cs-mm-window-cleaning .sc_{text-shadow:none;}
.cs-mm-window-cleaning .sc1{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.cs-mm-window-cleaning .sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){.cs-mm-window-cleaning .sc_{-webkit-text-stroke:0cqw transparent;}
.cs-mm-window-cleaning .sc1{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.cs-mm-window-cleaning .sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}}
.cs-mm-window-cleaning .ws0{word-spacing:0cqw;}
.cs-mm-window-cleaning ._8{margin-left:-59.4297cqw;}
.cs-mm-window-cleaning ._1a{margin-left:-25.13239cqw;}
.cs-mm-window-cleaning ._7{margin-left:-1.92354cqw;}
.cs-mm-window-cleaning ._a{margin-left:-0.90672cqw;}
.cs-mm-window-cleaning ._9{margin-left:-0.58919cqw;}
.cs-mm-window-cleaning ._15{margin-left:-0.44205cqw;}
.cs-mm-window-cleaning ._b{margin-left:-0.38533cqw;}
.cs-mm-window-cleaning ._14{margin-left:-0.33984cqw;}
.cs-mm-window-cleaning ._16{margin-left:-0.29643cqw;}
.cs-mm-window-cleaning ._6{margin-left:-0.26124cqw;}
.cs-mm-window-cleaning ._4{margin-left:-0.22602cqw;}
.cs-mm-window-cleaning ._0{margin-left:-0.19315cqw;}
.cs-mm-window-cleaning ._c{margin-left:-0.16115cqw;}
.cs-mm-window-cleaning ._2{margin-left:-0.10231cqw;}
.cs-mm-window-cleaning ._3{margin-left:-0.06257cqw;}
.cs-mm-window-cleaning ._11{margin-left:-0.03114cqw;}
.cs-mm-window-cleaning ._18{width:0.0328cqw;}
.cs-mm-window-cleaning ._17{width:0.14229cqw;}
.cs-mm-window-cleaning ._5{width:0.2019cqw;}
.cs-mm-window-cleaning ._e{width:0.25931cqw;}
.cs-mm-window-cleaning ._d{width:0.29422cqw;}
.cs-mm-window-cleaning ._10{width:0.3722cqw;}
.cs-mm-window-cleaning ._f{width:0.40567cqw;}
.cs-mm-window-cleaning ._19{width:0.45779cqw;}
.cs-mm-window-cleaning ._1{width:0.50729cqw;}
.cs-mm-window-cleaning ._13{width:0.54825cqw;}
.cs-mm-window-cleaning ._12{width:0.58297cqw;}
.cs-mm-window-cleaning .fc2{color:transparent;}
.cs-mm-window-cleaning .fc3{color:rgb(247,247,247);}
.cs-mm-window-cleaning .fc1{color:rgb(0,0,0);}
.cs-mm-window-cleaning .fc0{color:rgb(10,5,89);}
.cs-mm-window-cleaning .fs6{font-size:1.85858cqw;}
.cs-mm-window-cleaning .fs5{font-size:3.01173cqw;}
.cs-mm-window-cleaning .fs0{font-size:3.6096cqw;}
.cs-mm-window-cleaning .fs4{font-size:11.33379cqw;}
.cs-mm-window-cleaning .fs2{font-size:24.04379cqw;}
.cs-mm-window-cleaning .fs1{font-size:37.88036cqw;}
.cs-mm-window-cleaning .fs3{font-size:42.72444cqw;}
.cs-mm-window-cleaning .y0{bottom:0cqw;}
.cs-mm-window-cleaning .y1f{bottom:25.51245cqw;}
.cs-mm-window-cleaning .y1e{bottom:27.12773cqw;}
.cs-mm-window-cleaning .y1d{bottom:28.74302cqw;}
.cs-mm-window-cleaning .y1c{bottom:30.35831cqw;}
.cs-mm-window-cleaning .y1b{bottom:31.97359cqw;}
.cs-mm-window-cleaning .y20{bottom:35.17808cqw;}
.cs-mm-window-cleaning .y22{bottom:54.45356cqw;}
.cs-mm-window-cleaning .y21{bottom:54.5304cqw;}
.cs-mm-window-cleaning .y4{bottom:74.29298cqw;}
.cs-mm-window-cleaning .y3{bottom:75.90827cqw;}
.cs-mm-window-cleaning .y2{bottom:77.52355cqw;}
.cs-mm-window-cleaning .y1{bottom:79.13883cqw;}
.cs-mm-window-cleaning .y8{bottom:82.36884cqw;}
.cs-mm-window-cleaning .y1a{bottom:102.59382cqw;}
.cs-mm-window-cleaning .y19{bottom:104.20912cqw;}
.cs-mm-window-cleaning .y18{bottom:105.82441cqw;}
.cs-mm-window-cleaning .y17{bottom:107.43969cqw;}
.cs-mm-window-cleaning .y16{bottom:109.05496cqw;}
.cs-mm-window-cleaning .y15{bottom:112.82351cqw;}
.cs-mm-window-cleaning .y14{bottom:145.55038cqw;}
.cs-mm-window-cleaning .y13{bottom:147.16568cqw;}
.cs-mm-window-cleaning .y12{bottom:148.78095cqw;}
.cs-mm-window-cleaning .y11{bottom:150.39623cqw;}
.cs-mm-window-cleaning .y10{bottom:152.01152cqw;}
.cs-mm-window-cleaning .yf{bottom:155.72247cqw;}
.cs-mm-window-cleaning .ye{bottom:179.61599cqw;}
.cs-mm-window-cleaning .yd{bottom:180.96374cqw;}
.cs-mm-window-cleaning .yc{bottom:182.31148cqw;}
.cs-mm-window-cleaning .yb{bottom:183.65922cqw;}
.cs-mm-window-cleaning .ya{bottom:185.00697cqw;}
.cs-mm-window-cleaning .y9{bottom:187.48677cqw;}
.cs-mm-window-cleaning .y7{bottom:192.04834cqw;}
.cs-mm-window-cleaning .y6{bottom:196.69979cqw;}
.cs-mm-window-cleaning .y5{bottom:203.40309cqw;}
.cs-mm-window-cleaning .h7{height:1.35305cqw;}
.cs-mm-window-cleaning .h6{height:2.1564cqw;}
.cs-mm-window-cleaning .h1{height:2.58447cqw;}
.cs-mm-window-cleaning .h5{height:8.251cqw;}
.cs-mm-window-cleaning .h3{height:17.50388cqw;}
.cs-mm-window-cleaning .h2{height:27.5769cqw;}
.cs-mm-window-cleaning .h4{height:31.10339cqw;}
.cs-mm-window-cleaning .h0{height:219.86522cqw;}
.cs-mm-window-cleaning .w1{width:99.98982cqw;}
.cs-mm-window-cleaning .w0{width:100cqw;}
.cs-mm-window-cleaning .x0{left:0cqw;}
.cs-mm-window-cleaning .x6{left:8.76837cqw;}
.cs-mm-window-cleaning .x1{left:8.82094cqw;}
.cs-mm-window-cleaning .x5{left:8.98052cqw;}
.cs-mm-window-cleaning .xb{left:9.26415cqw;}
.cs-mm-window-cleaning .x8{left:9.61629cqw;}
.cs-mm-window-cleaning .x9{left:9.75391cqw;}
.cs-mm-window-cleaning .xa{left:9.96598cqw;}
.cs-mm-window-cleaning .x7{left:10.32007cqw;}
.cs-mm-window-cleaning .xc{left:33.28598cqw;}
.cs-mm-window-cleaning .x2{left:47.23039cqw;}
.cs-mm-window-cleaning .x3{left:50.01875cqw;}
.cs-mm-window-cleaning .xd{left:54.07997cqw;}
.cs-mm-window-cleaning .x4{left:62.3725cqw;}

.cs-mm-window-cleaning .pf{background-color:#ffffff}