@font-face{font-family:cs-mm-window-cleaning-ff1;src:url('/case-study-assets/mm-window-cleaning/asset-1.woff')format("woff");}
@font-face{font-family:cs-mm-window-cleaning-ff2;src:url('/case-study-assets/mm-window-cleaning/asset-2.woff')format("woff");}
@font-face{font-family:cs-mm-window-cleaning-ff3;src:url('/case-study-assets/mm-window-cleaning/asset-3.woff')format("woff");}
.cs-mm-window-cleaning .pf{position:relative;background-color:#fff;overflow:hidden;margin:0;border:0}
.cs-mm-window-cleaning .pc{position:absolute;border:0;padding:0;margin:0;top:0;left:0;width:100%;height:100%;overflow:hidden;display:block;transform-origin:0 0}
.cs-mm-window-cleaning .bi{position:absolute;border:0;margin:0;user-select:none;-webkit-user-select:none}
.cs-mm-window-cleaning .t{position:absolute;white-space:pre;font-size:1px;transform-origin:0 100%;unicode-bidi:bidi-override}
.cs-mm-window-cleaning .t:after{content:''}
.cs-mm-window-cleaning .t:before{content:'';display:inline-block}
.cs-mm-window-cleaning .t span{position:relative;unicode-bidi:bidi-override}
.cs-mm-window-cleaning ._{display:inline-block;color:transparent;z-index:-1}
.cs-mm-window-cleaning .ff0{font-family:sans-serif;visibility:hidden;}
.cs-mm-window-cleaning .ff1{font-family:cs-mm-window-cleaning-ff1;line-height:0.904000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-mm-window-cleaning .ff2{font-family:cs-mm-window-cleaning-ff2;line-height:0.961000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-mm-window-cleaning .ff3{font-family:cs-mm-window-cleaning-ff3;line-height:0.740000;font-style:normal;font-weight:normal;visibility:visible;}
.cs-mm-window-cleaning .m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.cs-mm-window-cleaning .v0{vertical-align:0.000000px;}
.cs-mm-window-cleaning .ls0{letter-spacing:0.000000px;}
.cs-mm-window-cleaning .sc_{text-shadow:none;}
.cs-mm-window-cleaning .sc1{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.cs-mm-window-cleaning .sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){.cs-mm-window-cleaning .sc_{-webkit-text-stroke:0px transparent;}
.cs-mm-window-cleaning .sc1{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.cs-mm-window-cleaning .sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}}
.cs-mm-window-cleaning .ws0{word-spacing:0.000000px;}
.cs-mm-window-cleaning ._8{margin-left:-1975.720760px;}
.cs-mm-window-cleaning ._1a{margin-left:-835.518128px;}
.cs-mm-window-cleaning ._7{margin-left:-63.947568px;}
.cs-mm-window-cleaning ._a{margin-left:-30.143728px;}
.cs-mm-window-cleaning ._9{margin-left:-19.587456px;}
.cs-mm-window-cleaning ._15{margin-left:-14.695932px;}
.cs-mm-window-cleaning ._b{margin-left:-12.810264px;}
.cs-mm-window-cleaning ._14{margin-left:-11.297852px;}
.cs-mm-window-cleaning ._16{margin-left:-9.854580px;}
.cs-mm-window-cleaning ._6{margin-left:-8.684800px;}
.cs-mm-window-cleaning ._4{margin-left:-7.514000px;}
.cs-mm-window-cleaning ._0{margin-left:-6.421200px;}
.cs-mm-window-cleaning ._c{margin-left:-5.357420px;}
.cs-mm-window-cleaning ._2{margin-left:-3.401200px;}
.cs-mm-window-cleaning ._3{margin-left:-2.080000px;}
.cs-mm-window-cleaning ._11{margin-left:-1.035088px;}
.cs-mm-window-cleaning ._18{width:1.090400px;}
.cs-mm-window-cleaning ._17{width:4.730400px;}
.cs-mm-window-cleaning ._5{width:6.712000px;}
.cs-mm-window-cleaning ._e{width:8.620680px;}
.cs-mm-window-cleaning ._d{width:9.781188px;}
.cs-mm-window-cleaning ._10{width:12.373676px;}
.cs-mm-window-cleaning ._f{width:13.486464px;}
.cs-mm-window-cleaning ._19{width:15.219200px;}
.cs-mm-window-cleaning ._1{width:16.864800px;}
.cs-mm-window-cleaning ._13{width:18.226372px;}
.cs-mm-window-cleaning ._12{width:19.380804px;}
.cs-mm-window-cleaning .fc2{color:transparent;}
.cs-mm-window-cleaning .fc3{color:rgb(247,247,247);}
.cs-mm-window-cleaning .fc1{color:rgb(0,0,0);}
.cs-mm-window-cleaning .fc0{color:rgb(10,5,89);}
.cs-mm-window-cleaning .fs6{font-size:61.788000px;}
.cs-mm-window-cleaning .fs5{font-size:100.124000px;}
.cs-mm-window-cleaning .fs0{font-size:120.000000px;}
.cs-mm-window-cleaning .fs4{font-size:376.788000px;}
.cs-mm-window-cleaning .fs2{font-size:799.328000px;}
.cs-mm-window-cleaning .fs1{font-size:1259.320000px;}
.cs-mm-window-cleaning .fs3{font-size:1420.360000px;}
.cs-mm-window-cleaning .y0{bottom:0.000000px;}
.cs-mm-window-cleaning .y1f{bottom:848.153100px;}
.cs-mm-window-cleaning .y1e{bottom:901.852500px;}
.cs-mm-window-cleaning .y1d{bottom:955.552350px;}
.cs-mm-window-cleaning .y1c{bottom:1009.252200px;}
.cs-mm-window-cleaning .y1b{bottom:1062.951600px;}
.cs-mm-window-cleaning .y20{bottom:1169.483850px;}
.cs-mm-window-cleaning .y22{bottom:1810.290750px;}
.cs-mm-window-cleaning .y21{bottom:1812.845400px;}
.cs-mm-window-cleaning .y4{bottom:2469.845850px;}
.cs-mm-window-cleaning .y3{bottom:2523.545700px;}
.cs-mm-window-cleaning .y2{bottom:2577.245100px;}
.cs-mm-window-cleaning .y1{bottom:2630.944500px;}
.cs-mm-window-cleaning .y8{bottom:2738.325000px;}
.cs-mm-window-cleaning .y1a{bottom:3410.698050px;}
.cs-mm-window-cleaning .y19{bottom:3464.397900px;}
.cs-mm-window-cleaning .y18{bottom:3518.097750px;}
.cs-mm-window-cleaning .y17{bottom:3571.797150px;}
.cs-mm-window-cleaning .y16{bottom:3625.496550px;}
.cs-mm-window-cleaning .y15{bottom:3750.780750px;}
.cs-mm-window-cleaning .y14{bottom:4838.774850px;}
.cs-mm-window-cleaning .y13{bottom:4892.474700px;}
.cs-mm-window-cleaning .y12{bottom:4946.174100px;}
.cs-mm-window-cleaning .y11{bottom:4999.873500px;}
.cs-mm-window-cleaning .y10{bottom:5053.573350px;}
.cs-mm-window-cleaning .yf{bottom:5176.942500px;}
.cs-mm-window-cleaning .ye{bottom:5971.274700px;}
.cs-mm-window-cleaning .yd{bottom:6016.080300px;}
.cs-mm-window-cleaning .yc{bottom:6060.885450px;}
.cs-mm-window-cleaning .yb{bottom:6105.690600px;}
.cs-mm-window-cleaning .ya{bottom:6150.496200px;}
.cs-mm-window-cleaning .y9{bottom:6232.936350px;}
.cs-mm-window-cleaning .y7{bottom:6384.584100px;}
.cs-mm-window-cleaning .y6{bottom:6539.220000px;}
.cs-mm-window-cleaning .y5{bottom:6762.069150px;}
.cs-mm-window-cleaning .h7{height:44.981664px;}
.cs-mm-window-cleaning .h6{height:71.688784px;}
.cs-mm-window-cleaning .h1{height:85.920000px;}
.cs-mm-window-cleaning .h5{height:274.301664px;}
.cs-mm-window-cleaning .h3{height:581.910784px;}
.cs-mm-window-cleaning .h2{height:916.784960px;}
.cs-mm-window-cleaning .h4{height:1034.022080px;}
.cs-mm-window-cleaning .h0{height:7309.347150px;}
.cs-mm-window-cleaning .w1{width:3324.128654px;}
.cs-mm-window-cleaning .w0{width:3324.467250px;}
.cs-mm-window-cleaning .x0{left:0.000000px;}
.cs-mm-window-cleaning .x6{left:291.501750px;}
.cs-mm-window-cleaning .x1{left:293.249250px;}
.cs-mm-window-cleaning .x5{left:298.554450px;}
.cs-mm-window-cleaning .xb{left:307.983600px;}
.cs-mm-window-cleaning .x8{left:319.690500px;}
.cs-mm-window-cleaning .x9{left:324.265650px;}
.cs-mm-window-cleaning .xa{left:331.315800px;}
.cs-mm-window-cleaning .x7{left:343.087350px;}
.cs-mm-window-cleaning .xc{left:1106.581500px;}
.cs-mm-window-cleaning .x2{left:1570.158750px;}
.cs-mm-window-cleaning .x3{left:1662.856800px;}
.cs-mm-window-cleaning .xd{left:1797.870750px;}
.cs-mm-window-cleaning .x4{left:2073.553500px;}
